%h1.page-title Hello my name is Kim

.row
  .three.columns.first
    =image_tag "rails.png", :height => '300'


  .three.columns
    %h3 About Me
    %p
      I'm a faculty member at Westmont
      =link_to "<span>See my Work &raquo;", "/work", :class=> "mega blue button"